//! **************************************************************************
// Written by: Map J.40 on Tue Jan 17 12:25:50 2017
//! **************************************************************************

SCHEMATIC START;
COMP "my_out" LOCATE = SITE "G1" LEVEL 1;
COMP "my_in" LOCATE = SITE "N3" LEVEL 1;
SCHEMATIC END;
