//! **************************************************************************
// Written by: Map J.40 on Tue Apr 18 12:57:40 2017
//! **************************************************************************

SCHEMATIC START;
COMP "switch<0>" LOCATE = SITE "A7" LEVEL 1;
COMP "switch<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "y<0>" LOCATE = SITE "N4" LEVEL 1;
COMP "y<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "y<2>" LOCATE = SITE "G1" LEVEL 1;
COMP "a<0>" LOCATE = SITE "F3" LEVEL 1;
COMP "a<1>" LOCATE = SITE "E2" LEVEL 1;
COMP "a<2>" LOCATE = SITE "N3" LEVEL 1;
COMP "b<0>" LOCATE = SITE "K3" LEVEL 1;
COMP "b<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "b<2>" LOCATE = SITE "G3" LEVEL 1;
SCHEMATIC END;
