//! **************************************************************************
// Written by: Map J.40 on Tue Feb 07 12:48:27 2017
//! **************************************************************************

SCHEMATIC START;
COMP "S_0" LOCATE = SITE "N4" LEVEL 1;
COMP "S_1" LOCATE = SITE "P4" LEVEL 1;
COMP "C_Out" LOCATE = SITE "G1" LEVEL 1;
COMP "A_0" LOCATE = SITE "E2" LEVEL 1;
COMP "A_1" LOCATE = SITE "N3" LEVEL 1;
COMP "B_0" LOCATE = SITE "G3" LEVEL 1;
COMP "B_1" LOCATE = SITE "F3" LEVEL 1;
SCHEMATIC END;
